In [1]:
import pandas as pd
import numpy as np

In [30]:
# UnsortedDF = pd.DataFrame({'C1':np.random.rand(12)})
Indexes = [5,6,7,8,1,2,3,4]
Columns = ['C2','C1','C0']
UnsortedDF = pd.DataFrame(np.random.randn(8,3),index=Indexes,columns=Columns)

# UnsortedDF = pd.DataFrame({'C1':np.random.normal(100,10,size=(10)).tolist()})

In [31]:
UnsortedDF

         C2        C1        C0
5  0.264337 -0.192275 -0.740015
6  0.665587 -0.738195 -1.876927
7 -0.844813 -0.899803 -3.372415
8 -1.624869  0.274839  0.183756
1  2.059295 -0.074723 -0.338503
2 -0.177264 -1.103013  0.486468
3 -1.007689  0.586874  0.591340
4  0.556376 -0.542369 -1.814339

In [32]:
SortedDF = UnsortedDF.sort_index()

In [33]:
SortedDF

         C2        C1        C0
1  2.059295 -0.074723 -0.338503
2 -0.177264 -1.103013  0.486468
3 -1.007689  0.586874  0.591340
4  0.556376 -0.542369 -1.814339
5  0.264337 -0.192275 -0.740015
6  0.665587 -0.738195 -1.876927
7 -0.844813 -0.899803 -3.372415
8 -1.624869  0.274839  0.183756

In [35]:
SortedDF = UnsortedDF.sort_values('C2')

In [36]:
SortedDF

         C2        C1        C0
8 -1.624869  0.274839  0.183756
3 -1.007689  0.586874  0.591340
7 -0.844813 -0.899803 -3.372415
2 -0.177264 -1.103013  0.486468
5  0.264337 -0.192275 -0.740015
4  0.556376 -0.542369 -1.814339
6  0.665587 -0.738195 -1.876927
1  2.059295 -0.074723 -0.338503

In [37]:
SortedDF = UnsortedDF.sort_index(ascending=False)

In [38]:
SortedDF

         C2        C1        C0
8 -1.624869  0.274839  0.183756
7 -0.844813 -0.899803 -3.372415
6  0.665587 -0.738195 -1.876927
5  0.264337 -0.192275 -0.740015
4  0.556376 -0.542369 -1.814339
3 -1.007689  0.586874  0.591340
2 -0.177264 -1.103013  0.486468
1  2.059295 -0.074723 -0.338503

In [39]:
SortedDF = UnsortedDF.sort_index(axis=0)

In [40]:
SortedDF

         C2        C1        C0
1  2.059295 -0.074723 -0.338503
2 -0.177264 -1.103013  0.486468
3 -1.007689  0.586874  0.591340
4  0.556376 -0.542369 -1.814339
5  0.264337 -0.192275 -0.740015
6  0.665587 -0.738195 -1.876927
7 -0.844813 -0.899803 -3.372415
8 -1.624869  0.274839  0.183756

In [44]:
SortedDF = UnsortedDF.sort_index(axis=1)

In [45]:
SortedDF

         C0        C1        C2
5 -0.740015 -0.192275  0.264337
6 -1.876927 -0.738195  0.665587
7 -3.372415 -0.899803 -0.844813
8  0.183756  0.274839 -1.624869
1 -0.338503 -0.074723  2.059295
2  0.486468 -1.103013 -0.177264
3  0.591340  0.586874 -1.007689
4 -1.814339 -0.542369  0.556376

In [51]:
TypeSortedDF = UnsortedDF.sort_values('C2',kind='quicksort')

In [52]:
TypeSortedDF

         C2        C1        C0
8 -1.624869  0.274839  0.183756
3 -1.007689  0.586874  0.591340
7 -0.844813 -0.899803 -3.372415
2 -0.177264 -1.103013  0.486468
5  0.264337 -0.192275 -0.740015
4  0.556376 -0.542369 -1.814339
6  0.665587 -0.738195 -1.876927
1  2.059295 -0.074723 -0.338503